.button-cook {
  color: #150b2b;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  background: #0be58a;
  padding: 9px 18px 9px 18px;
}

@media screen and (max-width: 576px) {
  .button-cook {
    padding: 9px 15px 9px 15px;
    font-size: 14px;
    display: block;
  }
}
